<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand text-primary">BlogNow</a>
</nav>

<div class="wrapper fadeInDown" ng-submit="submit()">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <h1>Sign-up / Log-in</h1>
          </div>
      
          <!-- Login Form -->
          <form>
                <input type="text" id="login" class="fadeIn second" name="id" placeholder="login" ng-model="Obj.username" required>
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" ng-model="Obj.password" required>
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
          <!-- Remind Passowrd -->
          <div id="formFooter">
            
            New User? <a class="underlineHover" href="#">Sign up now!</a>
          </div>
      
        </div>
      </div>
